@import url(./top-container.css);
/* font */
@font-face {
  font-family: 'MaShanZhang';
  src: url(../fonts/MaShanZheng-Regular.ttf);
}

@font-face {
  font-family: 'PangMenZhengDao';
  src: url(../fonts/PangMenZhengDaoCuShuTi-2.ttf);
}

@font-face {
  font-family: "ZCOOL XiaoWei";
  src: url(../fonts/ZCOOLXiaoWei-Regular.ttf);
}


/* 美化滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #00000000;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html {
  scroll-behavior: smooth;
  /* 平滑滚动，使锚点滚动更加平滑 */
  overflow: overlay;
}
body {
  overflow: overlay;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000;
  /* 模糊效果 */
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  background-size: 150% 150%;
  overflow: hidden;
  transform: scale(1.3);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* 滑动到100vh以下导航栏背景展示 */
.float-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00000088;
  z-index: 999;
  display: none;
  animation: float-navbar .5s;
  animation-timing-function: ease-in-out;
}

.float-navbar .navbar {
  padding: 1.4rem 10rem;
  display: flex;
  justify-content: space-between;
}

.float-navbar .navbar .logo {
  white-space: nowrap;
  display: flex;
  align-items: center;
}


/* .top-container .navbar .logo img {
  height: 3.2rem;
  margin-right: 0.5rem;
  vertical-align: baseline;
}

.top-container .navbar .logo a {
  font-family: 'MaShanZhang';
  font-size: 1.8rem;
  color: #f1f1f1;
  font-weight: 700;
  text-decoration: none;
} */

.float-navbar .navbar {
  display: flex;
  align-items: center;
}

.float-navbar .navbar .logo img {
  height: 3.2rem;
  margin-right: 0.5rem;
  vertical-align: baseline;
}


.float-navbar .navbar .logo a {
  font-family: "MaShanZhang";
  font-size: 1.8rem;
  color: #f1f1f1;
  font-weight: 700;
  text-decoration: none;
}

.float-navbar .navbar ul {
  list-style: none;
  margin: 0;
}

.float-navbar .navbar ul li {
  display: inline-block;
  /* margin: 0 5px;  */
}

.float-navbar .navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.float-navbar .navbar ul li a:hover {
  background-color: #fff;
  color: #000;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
}

.container-1 .top-video {
  width: clamp(600px, 55%, 1000px);
  text-align: center;
}

.container h1 {
  margin-top: 6rem;
  font-size: 2.8rem;
  font-family: "ZCOOL XiaoWei";
}

.container-1 .top-video video {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.container-1 .details {
  width: clamp(600px, 55%, 1000px);
  text-align: center;
}

.container-1 .details p {
  font-size: 1.2rem;
  margin: 1rem 0;
  font-weight: bold;
}

.container-2 {
  padding-bottom: 2rem;
}

.container-2 .video-cards {
  width: clamp(400px, 100%, 1000px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  justify-items: center;

}
.container-2 .video-cards .card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, .08);
  width: 100%;
  min-height: 200px;
}

.container-2 .video-cards .card .title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.container-2 .video-cards .card .video-cover {
  position: relative;
  width: 100%;
  height: 200px;
}

.container-2 .video-cards .card .video-cover .player {
  background-color: #00000021;
  background-image: url(../assets/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all .3s;
}

.container-2 .video-cards .card .video-cover .player:hover {
  background-color: #00000061;
  background-size: 60px;
}

.container-2 .video-cards .card .video-cover img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.container-2 .video-cards .card .details {
  padding: 1rem;
  text-align: center;
}

.container-2 .more {
  width: clamp(400px, 100%, 1000px);
  text-align: center;
  margin-top: 2rem;
}

.container-2 .more a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #888;
  cursor: pointer;
  transition: all .3s;
  text-decoration: none;
}

.container-2 .more a:hover {
  color: #000;
}

.container-3 .masonry-box {
  width: clamp(400px, 100%, 1000px);
  position: relative;
  max-height: 100vh;
  overflow: hidden;
  margin-bottom: 10rem;
  transition: all 0.5s;
}

.container > .masonry-box-open {
  max-height: 300vh;
}

.container-3 .masonry .item {
  position: relative;
}

.container-3 .masonry .item img:hover {
  /* 滤镜黑色 */
  filter: brightness(0.5);
}

.container-3 .masonry .item .detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066;
  display: flex;
  align-items: end;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
  color: #FFF;
  border-radius: 12px;
}

.container-3 .masonry .item .detail:hover {
  opacity: 1;
}

.container-3 .masonry .item .detail span {
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  border-radius: 5px;
}

.container-3 .masonry {
  column-count: 3;
  column-gap: 1rem;
  transition: all 0.3s;
}
.container-3 .masonry .item {
  width: 100%;
  min-height: 266px;
  margin-bottom: 1rem;
}

.container-3 .masonry .item img {
  display: block;
  width: 100%;
  min-height: 266px;
  border-radius: 12px;
  object-fit: cover;
}

.container-3 .masonry-box .item-show {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* 背景渐变 */
  background: linear-gradient(180deg, #00000000 0%, #f1f1f1 100%);
  z-index: 2;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-3 .masonry-box .item-show span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #00000061;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  line-height: 100px;
  vertical-align: bottom;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* 鼠标 */
  cursor: pointer;
}

.container-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #00000077;
}

.container-4 {
  padding-top: 100px;
  position: relative;
}

.container-4 h1 {
  font-size: 4.8rem;
  font-family: "PangMenZhengDao";
  margin: 2rem 0;
  color: #FFF;
  font-weight:400;
}

.container-4 .linear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(0, #00000000 0%, #f1f1f1 100%);
}

@keyframes float-navbar {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float-navbar-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

